/* Ensure the entire document uses Poppins font */
body {
    font-family: 'Poppins', sans-serif;
}

/* Navbar styles */
.navbar {
    color: white;
    background-color: rgb(255, 253, 253);
    position: sticky;
    top: 0;
    z-index: 100;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.navbar-brand {
    font-size: 1.5rem; 
    color: #ff5733; 
    margin-right: auto; 
    margin-left: 1rem; 
    
}

.nav-link {
    color: #000000; 
}

.nav-link:hover, .nav-link.active {
    color: #0f2689; 
}

.nav-item {
    color: rgb(190, 149, 149);
    margin-left: 2.5rem;
    margin-right: 2.5rem; 
    font-size: 1rem; 
}

.footer {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f200; 
    color:#0f2689; 
}
