<nav class="navbar navbar-expand-sm border-bottom border-body" data-bs-theme="dark">
    <a class="navbar-brand" href="#">
        <!-- You can use an image for the logo or just text -->
        <img src="../assets/shop.png" alt="Logo" style="height: 40px;"> <!-- Example logo image -->
        <!-- or -->
        <!-- <span>DataMart Management System</span> --> <!-- Example text logo -->
    </a>
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a routerLink="home" routerLinkActive="active" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a routerLink="show-all-employees" routerLinkActive="active" class="nav-link">Product List</a>
        </li>
        <li class="nav-item">
            <a routerLink="add-employee" routerLinkActive="active" class="nav-link">Add Product</a>
        </li>
        <!-- Add a dummy list item to create space -->
        <li class="nav-item" style="margin-right: 2.5rem;"></li>
    </ul>
    
</nav>

<router-outlet></router-outlet>

<footer class="footer">
    <div class="container">
        <span>Copyright © DataMart. 2024 All Right Reserved.</span>
    </div>
</footer>
