<body>
  <section id="skills" class="section-2 odd highlights counter skills featured">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <!-- Left side content -->
          <div class="text">
              <h1>D A T A <span class="blue-text">M A R T</span></h1>
            <p>Your One-Stop Shop for Grocery Management</p>
            <button class="button2">Learn More</button>
            <button class="button1">Click Here</button>
            
          </div>
        </div>
        <div class="col-md-6">
          <!-- Right side content -->
          <div class="image">
            <img src="../assets/6666912.jpg" class="fit-image" alt="Person pushing a cart">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="about">
    <br><br>
    <div class="container">
      <div class="about-section">
        <h1>About us</h1>
        <br>
        <p>This project prototype for the supermarket management system is developed as part of the Java Programming NCIII Training at TESDA. Explore our team's efforts in creating an efficient solution for supermarket management.</p>
      </div>
      <br><br>
      <h2 style="text-align:center">Meet our Team</h2>
      <br><br>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="../assets/marielle.jpg" alt="Jane" style="width:100%">
            <div class="container">
              <h3>Marielle Lois L. Adolfo</h3>
              <p class="title">CEO & Founder</p>
              <p>jane@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <img src="../assets/marian.jpg" alt="Mike" style="width:100%">
            <div class="container">
              <h3>Marian E. Alarde</h3>
              <p class="title">Art Director</p>
              <p>mike@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <img src="../assets/mj.png" alt="John" style="width:100%">
            <div class="container">
              <h3>Mary Jane P. Calulang </h3>
              <p class="title">Designer</p>
              <p>janecalulang@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
      <!-- Additional team members -->
      <div class="row" style="justify-content: center;">
        <div class="column">
          <div class="card">
            <img src="../assets/ramil.png" alt="Additional Team Member" style="width:100%">
            <div class="container">
              <h3>Ramil P. Marcelo</h3>
              <p class="title">Role</p>
              <p>additional@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <img src="../assets/angela.png" alt="Additional Team Member" style="width:100%">
            <div class="container">
              <h3>Angela P. Zacarias</h3>
              <p class="title">Role</p>
              <p>additional@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br><br><br><br>
  </section>
</body>